.git

tftp/*
!tftp/debian-installer
tftp/debian-installer/*
!tftp/debian-installer/amd64
tftp/debian-installer/amd64/*
!tftp/debian-installer/amd64/boot-screens
tftp/debian-installer/amd64/boot-screens/*
!tftp/debian-installer/amd64/boot-screens/syslinux.cfg.modified
!tftp/debian-installer/amd64/boot-screens/txt.cfg.modified
